
<div class="row">

  <h1>Current Items for Sale in the Store</h1>
  {{#each model as |product|}}
  {{admin-tile product=product update="update" destroyProduct="destroyProduct"}}
  {{/each}}
</div>

<div class="row">

  {{new-product  addProduct="addProduct"}}
</div>
