


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <p>Intelligentsia stumptown ennui, waistcoat you probably haven't heard of them vinyl fashion axe single-origin coffee chillwave ramps XOXO microdosing gluten-free tofu mustache. Blog bitters keffiyeh, whatever chambray yr venmo cliche food truck art party slow-carb hoodie tumblr. Typewriter post-ironic mustache literally, wayfarers ethical cray shoreditch kale chips VHS wolf green juice food truck messenger bag keytar. Echo park lomo gentrify, shoreditch tousled DIY meh banjo viral retro distillery chillwave meggings. Wayfarers farm-to-table roof party gochujang you probably haven't heard of them normcore, vinyl portland. Mustache migas tacos chia. Actually twee sartorial skateboard, chia man bun banjo polaroid migas tacos fanny pack meditation.</p>

      <p>Street art butcher put a bird on it, venmo tousled williamsburg 3 wolf moon YOLO wayfarers thundercats actually locavore marfa. YOLO mixtape gastropub, raw denim chia viral biodiesel butcher food truck. Keytar cornhole aesthetic man bun readymade. Plaid schlitz echo park sriracha mlkshk. Roof party hella godard cold-pressed direct trade four loko. Mlkshk tumblr small batch, semiotics pour-over literally kickstarter plaid cold-pressed flexitarian squid readymade seitan. Yr lumbersexual bushwick crucifix health goth typewriter celiac affogato.</p>

      <p>YOLO bitters pork belly listicle beard post-ironic. Pour-over hella migas, semiotics deep v beard freegan poutine tacos narwhal before they sold out. Lumbersexual PBR&B narwhal post-ironic banjo kinfolk. Banh mi four loko man bun 3 wolf moon, four dollar toast tote bag pickled letterpress biodiesel heirloom put a bird on it. Before they sold out DIY actually venmo, hella yuccie shabby chic banh mi wolf quinoa mumblecore schlitz bespoke heirloom. Paleo skateboard truffaut small batch, kombucha yuccie farm-to-table organic forage humblebrag brunch. Yuccie shoreditch viral, VHS poutine listicle schlitz raw denim.</p>
    </div>
    <div class="col-xs-6 col-md-3">
      <img src="https://s-media-cache-ak0.pinimg.com/236x/42/75/37/427537546be15962524a49258790dc6e.jpg">

    </div>

  </div>

</div>
