
<h2>Here's some more info about the <em>{{model.title}}</em>.</h2>


  {{product-details product=model deleteFeedback="deleteFeedback"}}

  {{new-feedback product=model saveFeedback="saveFeedback"}}
  
{{display-cart}}
